* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
#main {
  height: 100%;
  width: 100%;
  background-color: #9381ff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.panel {
  width: 80%;
  height: 80%;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
}
.ptop {
  width: 100%;
  height: 100px;
  float: top;
  background-color: #5c5cff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box {
  height: 25px;
  width: 30px;
  background-color: white;
  color: #5c5cff;
  display: flex;
  margin: 20px;
  border-radius: 5px;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-left: 10px;
  font-weight: bold;
}
.btm {
  width: 100%;
  height: calc(100% - 100px);
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: crimson;
  gap: 10px;
  flex-wrap: wrap;
}
.bubble {
  font-weight: 900;
  height: 50px;
  width: 50px;
  display: flex;
  background-color: #5c5cff;
  border-radius: 50%;
  color: white;
  align-items: center;
  justify-content: center;
}
.bubble:hover {
  background-color: #4040ba;
  cursor: pointer;
}
